#flipkart{
    width: 100%;
    background: white;
    height: 200vh;
}
.upper-bar{
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}
.logo>img{
    height: 40px;
    margin-right: -70px;
}
.input>input{
    outline: none;
    background: none;
    border: none;
}
.input{
    background-color: white;
    height: 5vh;
    margin: 10px;
    width: 30%;
}
.cart{
    display: flex;
    color: white;
    justify-content: space-between;
}
.cart>h5{
    margin-top: -2px;
}
.items{
    display: flex;
    justify-content: space-evenly;
}
.background>img{
    width: 100%;
}
.deals{
    display: flex;
    justify-content: left;
}
.deals>img{
    margin-left: 20px;
}
.deals>p{
    margin-left: 20px;
    margin-top: 23px;
}
.product{
    display: flex;
    justify-content: space-evenly;
}
.product>div>img{
    width: 60%;
    height: 100px;
    margin-left: 5px;
}
.middle-content{
    display: flex;
    justify-content: space-evenly;
}
.middle-content>div>img{
    width: 60%;
    height: 100px;
    margin-left: 5px;
}